
@{
    ViewBag.Title = "ChooseUser";
}
<div class="hero-wrap" style="background-image: url('../images/bg_3.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8  text-center">

                <h1 class="mb-3 bread">Choose User</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-services">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4  py-5 nav-link-wrap">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link px-4 active" id="v-pills-master-tab" data-toggle="pill" href="#v-pills-master" role="tab" aria-controls="v-pills-master" aria-selected="true"><span class="mr-3 flaticon-cardiogram"></span> Admin</a>
                    <a class="nav-link px-4" id="v-pills-buffet-tab" data-toggle="pill" href="#v-pills-buffet" role="tab" aria-controls="v-pills-buffet" aria-selected="false"><span class="mr-3 flaticon-neurology"></span> Doctor</a>
                    <a class="nav-link px-4" id="v-pills-fitness-tab" data-toggle="pill" href="#v-pills-fitness" role="tab" aria-controls="v-pills-fitness" aria-selected="false"><span class="mr-3 flaticon-stethoscope"></span> Patient</a>

                </div>
            </div>
            <div class="col-md-8  p-4 p-md-5 d-flex align-items-center">
                <div class="tab-content pl-md-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active py-5" id="v-pills-master" role="tabpanel" aria-labelledby="v-pills-master-tab">
                        <span class="icon mb-3 d-block flaticon-cardiogram"></span>
                        <h2 class="mb-4">Admin</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                        <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
                        @Html.ActionLink("Register", "Register", "Account")
                        @Html.ActionLink("Login", "Login", "Admin")
                    </div>
                    <div class="tab-pane fade py-5" id="v-pills-buffet" role="tabpanel" aria-labelledby="v-pills-buffet-tab" style="margin-top:-259px">
                        <span class="icon mb-3 d-block flaticon-neurology"></span>
                        <h2 class="mb-4">Doctor</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                        <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
                        
                        @Html.ActionLink("Login", "DoctorLogin", "Doctor")
                    </div>
                    <div class="tab-pane fade py-5" id="v-pills-fitness" role="tabpanel" aria-labelledby="v-pills-fitness-tab" style="margin-top:-259px">
                        <span class="icon mb-3 d-block flaticon-stethoscope"></span>
                        <h2 class="mb-4">Patient</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                        <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
                        @Html.ActionLink("Register", "Register", "Account")
                        @Html.ActionLink("Login", "Login", "Account")
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>