

@{
    ViewBag.Title = "ChildSpecialistDetails";
}

<body style="background-image:url(../images/babby.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;">
    <style>
        .square {
            height: 250px;
            width: 300px;
            background-color: white;
            position: relative;
            left: 50px;
            border-radius: 50%;
            top: 45px;
        }

        .square1 {
            height: 250px;
            width: 300px;
            background-color: white;
            position: relative;
            left: 500px;
            border-radius: 50%;
            bottom: 500px;
        }

        .square2 {
            height: 250px;
            width: 300px;
            background-color: white;
            position: relative;
            left: 950px;
            border-radius: 50%;
            bottom: 1030px;
        }
    </style>





    <div class="square" style="padding-left:30px">
        <h3 style="padding-left:40px; padding-top:30px">@Html.ActionLink("Take Appoitment", "TakeAppoitment", "Patient")</h3>
        <p>
            Name: Dr. Imran</br> Specification :Child Specialist</br> Hospital:GangaRam Hospital Mall Road</br> Clinic: Shadman, Lahore

        </p>
    </div>

    <div class="square" style="padding-left:30px">
        <h3 style="padding-left:40px; padding-top:30px">@Html.ActionLink("Take Appoitment", "TakeAppoitment", "Patient")</h3>
        <p>
            Name: Dr. Asif</br> Specification :Child Specialist</br> Hospital:Medicam Hospital Mall Road</br> Clinic: Wapda Town, Lahore

        </p>
    </div>

    <div class="square1" style="padding-left:30px">
        <h3 style="padding-left:40px; padding-top:30px">@Html.ActionLink("Take Appoitment", "TakeAppoitment", "Patient")</h3>
        <p>
            Name: Dr. Maham</br> Specification :Child Specialist</br> Hospital:Index Hospital , Jail Road</br> Clinic: Davis Road, Lahore

        </p>
    </div>

    <div class="square1" style="padding-left:30px">
        <h3 style="padding-left:40px; padding-top:30px">@Html.ActionLink("Take Appoitment", "TakeAppoitment", "Patient")</h3>
        <p>
            Name: Dr. Khadija </br> Specification :Child Specialist</br> Hospital:View Hospital Faisal Town </br> Clinic: Shama Road, Lahore

        </p>
    </div>

    <div class="square2" style="padding-left:30px">
        <h3 style="padding-left:40px; padding-top:30px">@Html.ActionLink("Take Appoitment", "TakeAppoitment", "Patient")</h3>
        <p>
            Name: Dr. Nabela</br> Specification :Child Specialist,</br> Hospital: Sheikh Zaid Iqbal Town</br> Clinic: Mustafa Town, Lahore

        </p>
    </div>

    <div class="square2" style="padding-left:30px">
        <h3 style="padding-left:40px; padding-top:30px">@Html.ActionLink("Take Appoitment", "TakeAppoitment", "Patient")</h3>
        <p>
            Name: Dr. Hiba/br> Specification :Child Specialist</br> Hospital:GangaRam Hospital Mall Road</br> Clinic: Faisal Town, Lahore

        </p>
    </div>
</body>





